* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#section2 {
    background-color: hsl(208, 49%, 24%);
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}

#img-phone {
    position: absolute;
    width: 700px;
    float: left;
    margin-top: -90px;
    margin-left: 80px;
}

#img-circle {
    width: 1250px;
    float: left;
    margin-left: -20%;
    margin-top: -600px;
}

#section2-div-text {
    line-height: 28px;
    color: white;
    padding-top: 100px;
    padding-left: -100px;
}

#section3 {
    width: 100%;
    height: 500px;
    margin: 300px 0 300px 0;
}

#div-text-section3 {
    line-height: 28px;
    color: rgb(35, 35, 54);
    padding: 50px 0 0 800px;
}

#section3 img{
    float: left;
    width: 1000px;
    margin: -150px 0px 120px -280px;
}

.grid-row {
    line-height: 30px;
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: hsl(240, 10%, 16%);
    padding: 70px;
    border-top-right-radius: 100px;
}
.grid-col {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grid-col ul {
    list-style-type: none;
}

.grid-col a {
    color: white;
    text-decoration: none;
}

.grid-col a:hover {
    text-decoration: underline;
}

@media (max-width: 375px) { 
    #section2 { 
        width: 1000px;
        height: 1500px;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px; 
    }

    #img-phone {
        width: 1000px;
        margin-left: -10px;
        margin-top: -475px
    }

    #img-circle {
        width: 1650px;
        margin-left: -320px;
        margin-top: -650px;
    }
    
    #section2-div-text {
        text-align: center;
        line-height: 48px;
        font-size: 40px;
        margin: 100px;
    }


    
}