* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#section2 {
    background-color: hsl(208, 49%, 24%);
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}

#img-phone {
    position: absolute;
    width: 700px;
    float: left;
    margin-top: -90px;
    margin-left: 80px;
}

#img-circle {
    width: 1250px;
    float: left;
    margin-left: -20%;
    margin-top: -600px;
}

#section2-div-text {
    color: white;
    padding-top: 100px;
    padding-left: -100px;
}



.grid-row {
    line-height: 30px;
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: hsl(240, 10%, 16%);
    padding: 50px;
    border-top-right-radius: 80px;
}
.grid-col {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.grid-col ul {
    list-style-type: none;
}

.grid-col a {
    color: white;
    text-decoration: none;
}

.grid-col a:hover {
    text-decoration: underline;
}