@media screen and (max-width: 600px) {
    .responsive {
        width: 100%;
        height: 1000px;
        padding: 0;
        margin: 0;
        display: grid;
        grid-auto-columns:auto;
      }

    }



.image {
    background-image: url("../img/bg-pattern-intro-desktop.svg");
    background-size: 100%;
    background-position: right;
    width: 100%;

}

* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#navbare {
    width: 100%;
    height: 100px;
    background-size: cover;
}

nav {
    width: 100%;
    height: 400px;
    background-color: hsl(355, 62%, 58%);
    line-height: 50px;
    border-bottom-left-radius: 80px;
}

#gauche {
    float: left;
    margin-left: 30px;
}

nav ul li {
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

#droite {
    float: right;
    margin-right: 30px;
}

nav ul li:hover {
    background-color: rgb(158, 55, 64);
    border-radius: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

.titre1 {
    padding-top: 10%;
    padding-left: 40%;
    color: white;
}

.textTop {
    color: #fff;
    padding-left: 40%;
}

.btnCenter {
    padding-left: 40%;
    color: #fff;
}

.LesBouttonAuCentre {
    margin-left: 5%;
}

.sectiontop {
    padding-bottom: 300px;
}

.DeuxiemeTitre {
    padding-top: 200px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;

}

.dropbtn {
    background-color: hsl(355, 62%, 58%);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: hsl(355, 62%, 58%);
}


.desktop-image{
    background-image: url("../img/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 250px;
}

.texte-centre{
    padding-top: 50px;
}
.texte-aucentre{
    padding-left: 20%;

}
.grid-container {
    width: 100%;
    height: 1000px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:45% 10% 45%;
  }
  .grid-item {
    padding: 20px;
    text-align: left;
  }
  .logo{
    font-size: 2em;
  }